<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <section>
            <!-- <p>Data: {{ restaurant }}</p> -->
            <!--Name-->
            <h2>{{ restaurant.get('name') }}</h2>
            <img id = "image" src = https://s3-media2.fl.yelpcdn.com/bphoto/UQMQ7klk0gZkUM8Vpk1GRw/o.jpg >
            <p>{{restaurant.get('display_address')}}</p>
            <div>
                <p>Price:       <b>{{restaurant.get('price')}}</b></p>
                <p>Rating:      <b>{{restaurant.get('rating')}}</b></p>
                <p># Reviews:   <b>{{restaurant.get('review_count')}}</b></p>
            </div>
        </section>
    </main>
</body>
</html>

